#newFact {
    text-align: center;
    border: green solid 1px;
    padding: 1rem;
    width: 15rem;
    height: rem;
    display: inline-block;
    margin: 1rem 2rem;
    box-shadow: 3px 4px gray;
}
